/Ejercicio11Guia4_/nbproject/private/
/Ejercicio11Guia4_/build/
/Ej1GuiaSubprogramas/nbproject/private/
/Ej1GuiaSubprogramas/build/
/Ej2Guia4_Subprogramas/nbproject/private/
/Ej2Guia4_Subprogramas/build/
/ejercicio13Practica_/nbproject/private/
/ejercicio13Practica_/build/
/JavaApplication27/nbproject/private/
/JavaApplication27/build/
/Ej1Guia5_Arreglos/nbproject/private/
/Ej1Guia5_Arreglos/build/
/Ej2guia3_Cambio_de_variables/nbproject/private/
/Ej2guia3_Cambio_de_variables/build/
/ej3guia3.extras_vocales/nbproject/private/
/ej3guia3.extras_vocales/build/
/Ej4Guia3Extras_Numeros_Romanos/nbproject/private/
/Ej4Guia3Extras_Numeros_Romanos/build/
/Ej5Guia3_Obra_Social/nbproject/private/
/Ej5Guia3_Obra_Social/build/
/Ej2_Guia4Subprogramas-Nombres_de_Personas/nbproject/private/
/Ej2_Guia4Subprogramas-Nombres_de_Personas/build/
/Ej3Guia4Subprogramas-Calculadora_Conversora_de_divisas/nbproject/private/
/Ej3Guia4Subprogramas-Calculadora_Conversora_de_divisas/build/
/Ej4Guia4numeroprimo/nbproject/private/