/Ej7Guia2_ RS232/nbproject/private/
/Ej7Guia2_ RS232/build/
/Ej7Guia2/nbproject/private/
/Ej7Guia2/build/
/Ej8Guia3Cuadrado/nbproject/private/
/Ej8Guia3Cuadrado/build/
/Ej1Guia3_Extras/nbproject/private/
/Ej1Guia3_Extras/build/
/JavaApplication22/nbproject/private/