/Ej2guia3_Cambio_de_variables/nbproject/private/
/Ej2guia3_Cambio_de_variables/build/
/Ej3Guia3-Extras_Vocales/nbproject/private/
/Ej3Guia3-Extras_Vocales/build/
/Ej4Guia3-Extras_/nbproject/private/
/Ej4Guia3-Extras_/build/
/Ej5Guia3_Obra_Social/nbproject/private/
/Ej5Guia3_Obra_Social/build/
/Ej2_Guia4-Subprogramas/nbproject/private/
/Ej2_Guia4-Subprogramas/build/
/Ej3Guia4Subprogramas/nbproject/private/
/Ej3Guia4Subprogramas/build/
/ej4Guia4numeroprimo/nbproject/private/